*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Limelight", sans-serif;
    font-weight: 400;
    font-style: normal;
}
header{
    background-image: url('/Imagenes/podologia.jpg');
    background-size: cover;     
    background-position: center 30%; 
    background-repeat: no-repeat;
    
    display: flex;
    flex-direction: column;          
}

.Contenedor_logo{ 
    margin-left: 20px;
}

.Menu {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}


.Menu__link {
   display: inline-block; /* Permite que el botón tenga ancho y alto */
    text-decoration: none; /* ¡Acá quitamos la barrita de abajo! */
    padding: 10px 20px;    /* El "relleno" que le da forma de botón */
    border-radius: 25px;   /* Bordes redondeados (estilo amigable) */
    font-weight: bold;
    transition: 0.3s;      /* Hace que el cambio de color sea suave */
    
    /* Colores base */
    background-color: #e9e5dd; 
    color: #093f6b;
}

.Perfil_profesional {
    display: flex;
    align-items: center;
    gap: 40px; /* Espacio entre la foto y el texto */
    
    /* 
       Damos un margen vertical generoso. 
       80px arriba para alejarlo del encabezado con el bisturí.
       100px abajo para que no se pegue al mapa de ubicación.
    */
    margin: 80px auto 100px auto; 
    
    max-width: 1200px; /* Para que en pantallas gigantes no se desparrame */
    padding: 0 20px;   /* Evita que toque los bordes laterales en celulares */
}


.Perfil_profesional_img {
    width: 350px;       
    border-radius: 5px;
}
.Menu__link:hover {
    background-color: #18cac1; 
    color: white;             
    transform: scale(1.05);   
}

.Contenedor_Servicios{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 20px;
    padding: 100px;
}

main img {
    width: 200px;       
    border-radius: 5px
}

.cajaServicio{

    display: flex;
    flex-direction: column; /* Alinea contenido de la tarjeta en vertical */
    flex: 1 1 300px;        /* Permite que crezcan y ocupen el espacio parejo */
    min-height: 100%;       /* Asegura que ocupen todo el alto del padre */

}



.footer__link-wa {
    text-decoration: none;
    color: #333; 
    font-size: 1.2rem;
    align-items: center;
    gap: 10px; 
}


.footer__link-wa:hover .fa-whatsapp {
    color: #25d366;
}


.footer__link-wa:hover .fa-envelope {
    color: #007bff;
}
footer{
    background-color: #27F5DA;
    display: flex;
    gap: 100px;
    padding: 20px;
}

